##> Full Process To Analyse Big Data Using Apache Spark and Python

### 1 _ Import Required Librarys

In [1]:
# First of all we should make sure of the version of JAVA that we have
!java --version

openjdk 11.0.17 2022-10-18
OpenJDK Runtime Environment (build 11.0.17+8-post-Ubuntu-1ubuntu218.04)
OpenJDK 64-Bit Server VM (build 11.0.17+8-post-Ubuntu-1ubuntu218.04, mixed mode, sharing)

In [2]:
# Configiration of Alternative java version , no need in case of having one single java version
!sudo update-alternatives --config java

There is only one alternative in link group java (providing /usr/bin/java): /usr/lib/jvm/java-11-openjdk-amd64/bin/java
Nothing to configure.

In [3]:
# Even that google colab have all needed requireds , there is still more to add
!pip install -q findspark
!pip install pyspark
!pip install google-cloud-bigquery

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 47 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 66.1 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=c28c6d1ecb98b74f810dc849a01338a53a7e6091cca39e12f26710b13ae4a45e
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: google-cloud-bigquery in /usr/local/lib/python3.8/dist-packages (3.3.6)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.2 in /usr/local/lib/python3.8/dist-packages (from google-cloud-bigquery) (2.8.2)
Requirement already satisfied: google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5 in /usr/local/lib/python3.8/dist-packages (from google-cloud-bigquery) (2.8.2)
Requirement already satisfied: requests<3.0.0dev,>=2.21.0 in /usr/local/lib/python3.8/dist-packages (from google-cloud-bigquery) (2.23.0)
Requirement already satisfied: packaging<22.0.0dev,>=14.3 in /usr/local/lib/python3.8/dist-packages (from google-cloud-bigquery) (21.3)
Requirement already satisfied: google-resumable-media<3.0dev,>=0.6.0 in /usr/local/lib/python3.8/dist-packages (from google-cloud-bigquery) (2.4.0)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.22.0 in /usr/local/lib/python3.8/dist-packages (from google-cloud-bigquery) (1.22.1)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.19.5 in /usr/local/lib/python3.8/dist-packages (from google-cloud-bigquery) (3.19.6)
Requirement already satisfied: pyarrow<11.0dev,>=3.0.0 in /usr/local/lib/python3.8/dist-packages (from google-cloud-bigquery) (9.0.0)
Requirement already satisfied: google-cloud-bigquery-storage<3.0.0dev,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from google-cloud-bigquery) (2.16.2)
Requirement already satisfied: grpcio<2.0dev,>=1.47.0 in /usr/local/lib/python3.8/dist-packages (from google-cloud-bigquery) (1.51.1)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=1.4.1 in /usr/local/lib/python3.8/dist-packages (from google-cloud-bigquery) (2.3.2)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.56.2 in /usr/local/lib/python3.8/dist-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (1.57.0)
Requirement already satisfied: google-auth<3.0dev,>=1.25.0 in /usr/local/lib/python3.8/dist-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (2.15.0)
Requirement already satisfied: grpcio-status<2.0dev,>=1.33.2 in /usr/local/lib/python3.8/dist-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (1.48.2)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.8/dist-packages (from google-auth<3.0dev,>=1.25.0->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (4.9)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from google-auth<3.0dev,>=1.25.0->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (5.2.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from google-auth<3.0dev,>=1.25.0->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (0.2.8)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.8/dist-packages (from google-auth<3.0dev,>=1.25.0->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (1.15.0)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /usr/local/lib/python3.8/dist-packages (from google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery) (1.5.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging<22.0.0dev,>=14.3->google-cloud-bigquery) (3.0.9)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.8/dist-packages (from pyarrow<11.0dev,>=3.0.0->google-cloud-bigquery) (1.21.6)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.8/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3.0dev,>=1.25.0->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (0.4.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (1.24.3)

In [4]:
# for more better performance , it will be better to use nvedia with the GPU
!nvidia-smi

Tue Dec 20 09:00:22 2022
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 460.32.03    Driver Version: 460.32.03    CUDA Version: 11.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   66C    P0    31W /  70W |      0MiB / 15109MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

### 2 _ Inistialise Spark Envirement

In [5]:
# We can start with inisialse spark finder
import findspark
findspark.init()

In [6]:
# Next we can use the SparkSession
from pyspark.sql import SparkSession

In [7]:
# Next we need to import all pyspark sql manipulation functions
from pyspark.sql.functions import *

In [8]:
# We need now to initialse our session instance
spark = SparkSession.builder \
    .appName("LSTM App") \
    .getOrCreate()

### 3 _ Creating And Reading DataFrame

In [9]:
# The database we gonna use is a good example of Big Data , that containe more than 22 milion line
sql = """SELECT * FROM `fair-sandbox-321621.iowa_liquor_retail_sales.sales` LIMIT 100000"""

In [10]:
# the database is saved in Big Query so we are going to read it from there
from pandas.io import gbq

In [11]:
# now its time to read the data base
# since we are going to use spark data frame , we are going to use the createDataFrame function
rdd = spark.createDataFrame(
          gbq.read_gbq(
              sql,
              project_id='fair-sandbox-321621'
          )
      )

Please visit this URL to authorize this application: https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=725825577420-unm2gnkiprugilg743tkbig250f4sfsj.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fbigquery&state=IlzJfGTCrxF7xkT2i6Ci8786siskxf&prompt=consent&access_type=offline
Enter the authorization code: 4/1AWgavdcrsL-48wt59Wfh7ReBYmsrArws5xoFyb1W4hb7J0WOoo9HaVTUekc

In [12]:
# all data type in spark is stored in a form of RDD (Resilient Distributed Dataset)
rdd.show(5)

+-----------------------+----------+------------+--------------------+----------------+---------------+--------+--------------------+-------------+----------+---------+--------------------+-------------+--------------------+-----------+--------------------+----+----------------+-----------------+-------------------+------------+------------+------------------+-------------------+
|invoice_and_item_number|      date|store_number|          store_name|         address|           city|zip_code|      store_location|county_number|    county| category|       category_name|vendor_number|         vendor_name|item_number|    item_description|pack|bottle_volume_ml|state_bottle_cost|state_bottle_retail|bottles_sold|sale_dollars|volume_sold_liters|volume_sold_gallons|
+-----------------------+----------+------------+--------------------+----------------+---------------+--------+--------------------+-------------+----------+---------+--------------------+-------------+--------------------+-----------+--------------------+----+----------------+-----------------+-------------------+------------+------------+------------------+-------------------+
|        INV-26755100067|2020-04-22|        5068|TOBACCO SHOP / AR...|612 S HIGHWAY 71|   ARNOLDS PARK| 51331.0|POINT(-95.140274 ...|           30| DICKINSON|1082000.0|IMPORTED CORDIALS...|        192.0|MAST-JAGERMEISTER...|      65259|JAGERMEISTER LIQU...|  12|              20|             4.93|                7.4|           1|         7.4|              0.02|                0.0|
|        INV-23178200002|2019-11-12|        4902|     BROADWAY LIQUOR| 821 BROADWAY ST|       WATERLOO| 50703.0|POINT(-92.345144 ...|            7|BLACK HAWK|1082000.0|IMPORTED CORDIALS...|        192.0|MAST-JAGERMEISTER...|      65259|JAGERMEISTER LIQU...|  12|              20|             4.93|                7.4|           1|         7.4|              0.02|                0.0|
|        INV-37598400099|2021-06-17|        2515|HY-VEE FOOD STORE...|  2400 4TH ST SW|     MASON CITY| 50401.0|POINT(-93.235588 ...|           17|CERRO GORD|1082100.0|IMPORTED CORDIALS...|          192|MAST-JAGERMEISTER...|      65259|JAGERMEISTER LIQU...|  12|              20|             4.93|                7.4|           1|         7.4|              0.02|                0.0|
|        INV-23344300200|2019-11-19|        2621|HY-VEE FOOD STORE...|  3301 GORDON DR|     SIOUX CITY| 51105.0|POINT(-96.364108 ...|           97|  WOODBURY|1082000.0|IMPORTED CORDIALS...|        192.0|MAST-JAGERMEISTER...|      65259|JAGERMEISTER LIQU...|  12|              20|             4.93|                7.4|           1|         7.4|              0.02|                0.0|
|        INV-43289400037|2021-12-27|        4068|       SA PETRO MART|     136  1ST ST|WEST DES MOINES| 50265.0|POINT(-93.703345 ...|           77|      POLK|1082100.0|IMPORTED CORDIALS...|          192|MAST-JAGERMEISTER...|      65259|JAGERMEISTER LIQU...|  12|              20|             4.93|                7.4|           1|         7.4|              0.02|                0.0|
+-----------------------+----------+------------+--------------------+----------------+---------------+--------+--------------------+-------------+----------+---------+--------------------+-------------+--------------------+-----------+--------------------+----+----------------+-----------------+-------------------+------------+------------+------------------+-------------------+
only showing top 5 rows

### 4 _ Manupilation Of ApacheSpark DataFrame

In [13]:
# first of all we gonna show all dataframe columns
rdd.columns

['invoice_and_item_number',
 'date',
 'store_number',
 'store_name',
 'address',
 'city',
 'zip_code',
 'store_location',
 'county_number',
 'county',
 'category',
 'category_name',
 'vendor_number',
 'vendor_name',
 'item_number',
 'item_description',
 'pack',
 'bottle_volume_ml',
 'state_bottle_cost',
 'state_bottle_retail',
 'bottles_sold',
 'sale_dollars',
 'volume_sold_liters',
 'volume_sold_gallons']

In [14]:
# We can next show the shape of our dataset
print((rdd.count(),len(rdd.columns)))

(100000, 24)

In [15]:
# Spark also use another function to describe database shema
rdd.printSchema()

root
 |-- invoice_and_item_number: string (nullable = true)
 |-- date: date (nullable = true)
 |-- store_number: string (nullable = true)
 |-- store_name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- city: string (nullable = true)
 |-- zip_code: string (nullable = true)
 |-- store_location: string (nullable = true)
 |-- county_number: string (nullable = true)
 |-- county: string (nullable = true)
 |-- category: string (nullable = true)
 |-- category_name: string (nullable = true)
 |-- vendor_number: string (nullable = true)
 |-- vendor_name: string (nullable = true)
 |-- item_number: string (nullable = true)
 |-- item_description: string (nullable = true)
 |-- pack: long (nullable = true)
 |-- bottle_volume_ml: long (nullable = true)
 |-- state_bottle_cost: double (nullable = true)
 |-- state_bottle_retail: double (nullable = true)
 |-- bottles_sold: long (nullable = true)
 |-- sale_dollars: double (nullable = true)
 |-- volume_sold_liters: double (nullable = true)
 |-- volume_sold_gallons: double (nullable = true)

In [16]:
# we can also show a full description of our databse
rdd.describe().show()

+-------+-----------------------+-----------------+--------------------+--------------------+-------+-----------------+--------------------+------------------+------+------------------+---------------+------------------+--------------------+-----------------+--------------------+------------------+-----------------+------------------+-------------------+------------------+------------------+------------------+-------------------+
|summary|invoice_and_item_number|     store_number|          store_name|             address|   city|         zip_code|      store_location|     county_number|county|          category|  category_name|     vendor_number|         vendor_name|      item_number|    item_description|              pack| bottle_volume_ml| state_bottle_cost|state_bottle_retail|      bottles_sold|      sale_dollars|volume_sold_liters|volume_sold_gallons|
+-------+-----------------------+-----------------+--------------------+--------------------+-------+-----------------+--------------------+------------------+------+------------------+---------------+------------------+--------------------+-----------------+--------------------+------------------+-----------------+------------------+-------------------+------------------+------------------+------------------+-------------------+
|  count|                 100000|           100000|              100000|               99682|  99682|            99682|               90130|             98088| 99272|             99908|          99841|            100000|              100000|           100000|              100000|            100000|           100000|            100000|             100000|            100000|            100000|            100000|             100000|
|   mean|            3.7890001E8|       3682.33108|                null|                null|   null| 51239.0759806135|                null|58.254383818611856|  null|1041954.6554129799|           null|         253.46497|                null|       43075.6888|                null|          11.60203|        905.50025| 9.447829999998557| 14.190442699999695|          12.75795|162.43093669997535|10.231653599999873| 2.7035637000016473|
| stddev|                   null|991.2914053861946|                null|                null|   null|997.8742182426785|                null|26.951868576098168|  null| 69477.15576336507|           null|137.19902925544062|                null|66888.11864048874|                null|5.1472589619960205|455.5289162785111|6.3205258698602895|  9.480632481587906|24.268778946082477|472.99081722278953|28.848295205210476|  7.620766083262196|
|    min|              378900010|            10019|"DOUBLE ""D"" LIQ...|         1, GROVE RD| ACKLEY|            50002|POINT(-73.982421 ...|                 1| ADAIR|         1011100.0|100 PROOF VODKA|                10| 3 BADGE CORPORATION|           100006|"JOSE CUERVO SILV...|                 1|               20|               0.0|                0.0|                 1|               0.0|              0.02|                0.0|
|    max|           S34159000001|             9927|ZAPF'S PRONTO MARKET|PO BOX 261  310 W...|ZWINGLE|            712-2|POINT(-96.56323 4...|                99|WRIGHT|         1901200.0|      WHITE RUM|             978.0|YAHARA BAY DISTIL...|           999911|           ZYR VODKA|               288|             5250|            186.94|             280.41|              3960|           78249.6|            3960.0|            1046.12|
+-------+-----------------------+-----------------+--------------------+--------------------+-------+-----------------+--------------------+------------------+------+------------------+---------------+------------------+--------------------+-----------------+--------------------+------------------+-----------------+------------------+-------------------+------------------+------------------+------------------+-------------------+

In [17]:
# We can use the following function to drop any duplication 
rdd.dropDuplicates()

DataFrame[invoice_and_item_number: string, date: date, store_number: string, store_name: string, address: string, city: string, zip_code: string, store_location: string, county_number: string, county: string, category: string, category_name: string, vendor_number: string, vendor_name: string, item_number: string, item_description: string, pack: bigint, bottle_volume_ml: bigint, state_bottle_cost: double, state_bottle_retail: double, bottles_sold: bigint, sale_dollars: double, volume_sold_liters: double, volume_sold_gallons: double]

In [18]:
# We gonna use also the filter function no find any null values
{col:rdd.filter(rdd[col].isNull()).count() for col in rdd.columns}

{'invoice_and_item_number': 0,
 'date': 0,
 'store_number': 0,
 'store_name': 0,
 'address': 318,
 'city': 318,
 'zip_code': 318,
 'store_location': 9870,
 'county_number': 1912,
 'county': 728,
 'category': 92,
 'category_name': 159,
 'vendor_number': 0,
 'vendor_name': 0,
 'item_number': 0,
 'item_description': 0,
 'pack': 0,
 'bottle_volume_ml': 0,
 'state_bottle_cost': 0,
 'state_bottle_retail': 0,
 'bottles_sold': 0,
 'sale_dollars': 0,
 'volume_sold_liters': 0,
 'volume_sold_gallons': 0}

### 5 _ Creating the dataWarehouse

In [19]:
# lets make sure that the sales are not negative
rdd.where(rdd.sale_dollars < 0).count()

0

In [20]:
# First of all we gonna start with filling all the Null Values with 0
rdd.fillna(
          0, subset=[
                      'bottle_volume_ml', 
                      'state_bottle_cost' ,
                      'state_bottle_retail' ,
                      'bottles_sold',
                      'sale_dollars',
                      'volume_sold_liters'
                      ]
           )

DataFrame[invoice_and_item_number: string, date: date, store_number: string, store_name: string, address: string, city: string, zip_code: string, store_location: string, county_number: string, county: string, category: string, category_name: string, vendor_number: string, vendor_name: string, item_number: string, item_description: string, pack: bigint, bottle_volume_ml: bigint, state_bottle_cost: double, state_bottle_retail: double, bottles_sold: bigint, sale_dollars: double, volume_sold_liters: double, volume_sold_gallons: double]

In [21]:
# We Are not in a need of All the columns so we gonna just use the following columns
rdd.where(date_format(rdd.date, 'dd') == '01').groupBy('date')\
        .agg(
            sum("sale_dollars") , sum('state_bottle_cost') , sum('bottles_sold') , sum('volume_sold_liters')
          )\
        .sort('date')\
        .show(6)

+----------+-----------------+----------------------+-----------------+-----------------------+
|      date|sum(sale_dollars)|sum(state_bottle_cost)|sum(bottles_sold)|sum(volume_sold_liters)|
+----------+-----------------+----------------------+-----------------+-----------------------+
|2012-02-01|          7159.83|     526.7800000000001|              556|                 465.76|
|2012-03-01|          8627.76|     625.6500000000001|              666|                  514.5|
|2012-05-01|6614.799999999999|    469.59999999999997|              610|                 530.26|
|2012-08-01|7141.290000000001|    441.72999999999996|              550|                 447.88|
|2012-10-01|7835.700000000001|                522.43|              678|                  522.0|
|2012-11-01|6936.000000000001|    471.52000000000004|              633|                  478.5|
+----------+-----------------+----------------------+-----------------+-----------------------+
only showing top 6 rows

In [22]:
# the date format is not what we should use since we need to predict next 30 days 
# we should make two column that make month and which are grouping by years
rdd = rdd.withColumn("specefic_date", date_format(rdd.date, 'MM-dd')) 
rdd = rdd.withColumn("year", date_format(rdd.date, 'yyyy'))
rdd.show(6)

+-----------------------+----------+------------+--------------------+----------------+---------------+--------+--------------------+-------------+----------+---------+--------------------+-------------+--------------------+-----------+--------------------+----+----------------+-----------------+-------------------+------------+------------+------------------+-------------------+-------------+----+
|invoice_and_item_number|      date|store_number|          store_name|         address|           city|zip_code|      store_location|county_number|    county| category|       category_name|vendor_number|         vendor_name|item_number|    item_description|pack|bottle_volume_ml|state_bottle_cost|state_bottle_retail|bottles_sold|sale_dollars|volume_sold_liters|volume_sold_gallons|specefic_date|year|
+-----------------------+----------+------------+--------------------+----------------+---------------+--------+--------------------+-------------+----------+---------+--------------------+-------------+--------------------+-----------+--------------------+----+----------------+-----------------+-------------------+------------+------------+------------------+-------------------+-------------+----+
|        INV-26755100067|2020-04-22|        5068|TOBACCO SHOP / AR...|612 S HIGHWAY 71|   ARNOLDS PARK| 51331.0|POINT(-95.140274 ...|           30| DICKINSON|1082000.0|IMPORTED CORDIALS...|        192.0|MAST-JAGERMEISTER...|      65259|JAGERMEISTER LIQU...|  12|              20|             4.93|                7.4|           1|         7.4|              0.02|                0.0|        04-22|2020|
|        INV-23178200002|2019-11-12|        4902|     BROADWAY LIQUOR| 821 BROADWAY ST|       WATERLOO| 50703.0|POINT(-92.345144 ...|            7|BLACK HAWK|1082000.0|IMPORTED CORDIALS...|        192.0|MAST-JAGERMEISTER...|      65259|JAGERMEISTER LIQU...|  12|              20|             4.93|                7.4|           1|         7.4|              0.02|                0.0|        11-12|2019|
|        INV-37598400099|2021-06-17|        2515|HY-VEE FOOD STORE...|  2400 4TH ST SW|     MASON CITY| 50401.0|POINT(-93.235588 ...|           17|CERRO GORD|1082100.0|IMPORTED CORDIALS...|          192|MAST-JAGERMEISTER...|      65259|JAGERMEISTER LIQU...|  12|              20|             4.93|                7.4|           1|         7.4|              0.02|                0.0|        06-17|2021|
|        INV-23344300200|2019-11-19|        2621|HY-VEE FOOD STORE...|  3301 GORDON DR|     SIOUX CITY| 51105.0|POINT(-96.364108 ...|           97|  WOODBURY|1082000.0|IMPORTED CORDIALS...|        192.0|MAST-JAGERMEISTER...|      65259|JAGERMEISTER LIQU...|  12|              20|             4.93|                7.4|           1|         7.4|              0.02|                0.0|        11-19|2019|
|        INV-43289400037|2021-12-27|        4068|       SA PETRO MART|     136  1ST ST|WEST DES MOINES| 50265.0|POINT(-93.703345 ...|           77|      POLK|1082100.0|IMPORTED CORDIALS...|          192|MAST-JAGERMEISTER...|      65259|JAGERMEISTER LIQU...|  12|              20|             4.93|                7.4|           1|         7.4|              0.02|                0.0|        12-27|2021|
|        INV-43355700017|2021-12-28|        5866|HOMETOWN FAMILY M...|      310 2ND ST|      GLADBROOK| 50635.0|POINT(-92.716422 ...|           86|      TAMA|1082100.0|IMPORTED CORDIALS...|          192|MAST-JAGERMEISTER...|      65259|JAGERMEISTER LIQU...|  12|              20|             4.93|                7.4|           1|         7.4|              0.02|                0.0|        12-28|2021|
+-----------------------+----------+------------+--------------------+----------------+---------------+--------+--------------------+-------------+----------+---------+--------------------+-------------+--------------------+-----------+--------------------+----+----------------+-----------------+-------------------+------------+------------+------------------+-------------------+-------------+----+
only showing top 6 rows

In [23]:
# now let's make the neccesserie querys
data = rdd.where(date_format(rdd.date, 'dd') == '01')\
        .groupBy(
            'date',
            'year',
            'specefic_date'
        ).agg(
            sum("sale_dollars").alias("total sale_dollars") , sum('state_bottle_cost').alias('total state_bottle_cost') ,
            sum('state_bottle_retail').alias('total state_bottle_retail') , sum('bottles_sold').alias('total bottles_sold') , 
            sum('volume_sold_liters').alias('total volume_sold_liters')
        ).sort('date')

In [24]:
# And this the last result of our manipulation
data.show()

+----------+----+-------------+------------------+-----------------------+-------------------------+------------------+------------------------+
|      date|year|specefic_date|total sale_dollars|total state_bottle_cost|total state_bottle_retail|total bottles_sold|total volume_sold_liters|
+----------+----+-------------+------------------+-----------------------+-------------------------+------------------+------------------------+
|2012-02-01|2012|        02-01|           7159.83|      526.7800000000001|                   795.23|               556|                  465.76|
|2012-03-01|2012|        03-01|           8627.76|      625.6500000000001|        941.9399999999998|               666|                   514.5|
|2012-05-01|2012|        05-01| 6614.799999999999|     469.59999999999997|        705.8000000000001|               610|                  530.26|
|2012-08-01|2012|        08-01| 7141.290000000001|     441.72999999999996|        665.1800000000001|               550|                  447.88|
|2012-10-01|2012|        10-01| 7835.700000000001|                 522.43|        790.0500000000002|               678|                   522.0|
|2012-11-01|2012|        11-01| 6936.000000000001|     471.52000000000004|                   708.46|               633|                   478.5|
|2013-04-01|2013|        04-01|12436.910000000003|      584.1800000000002|        880.9100000000001|              1018|                  748.38|
|2013-05-01|2013|        05-01|           4727.72|                 346.25|        520.9200000000001|               449|                   377.0|
|2013-07-01|2013|        07-01| 8179.670000000001|                 577.29|                   870.32|               605|                  492.62|
|2013-08-01|2013|        08-01| 7791.299999999999|      452.4200000000001|        679.1800000000001|               702|                   471.0|
|2013-10-01|2013|        10-01| 6988.740000000001|     443.91999999999996|        670.5400000000001|               528|                   432.0|
|2014-04-01|2014|        04-01|           7629.41|                 402.51|                   606.75|               653|                   497.5|
|2014-05-01|2014|        05-01|           8212.45|      508.8499999999999|                   764.96|               689|                  547.88|
|2014-07-01|2014|        07-01|10266.240000000002|      611.1300000000001|        918.3399999999999|               900|                   642.0|
|2014-10-01|2014|        10-01|          11393.64|                 663.45|       1000.0999999999999|              1006|                  710.26|
|2014-12-01|2014|        12-01|17805.120000000003|                 787.26|       1185.8700000000003|              1265|                  933.38|
|2015-04-01|2015|        04-01| 8138.050000000001|                 522.66|        785.9099999999999|               635|                  478.88|
|2015-06-01|2015|        06-01|13208.760000000002|                 878.57|       1319.5600000000002|               882|                   690.0|
|2015-07-01|2015|        07-01|            8184.0|     507.05000000000007|                   761.06|               654|                   471.0|
|2015-09-01|2015|        09-01|           8461.56|                 544.07|                   816.63|               652|                  531.88|
+----------+----+-------------+------------------+-----------------------+-------------------------+------------------+------------------------+
only showing top 20 rows

### 6 _ Saving data using Cross Validation

In [25]:
# Cross Validation is a method that stending on creating K Folder of Data
# We End Up with using K-1 Folder For Training And 1 For Testing
data.groupBy('year').count().sort('year').show()

+----+-----+
|year|count|
+----+-----+
|2012|    6|
|2013|    5|
|2014|    5|
|2015|    6|
|2016|    8|
|2017|    8|
|2018|    7|
|2019|    8|
|2020|    7|
|2021|    9|
|2022|    8|
+----+-----+

In [26]:
# for each year we gonna show the sells of that year
for year in data.groupBy('year').count().sort('year').collect():
  data.where(
      data.year == year.year
      ).show(4)

+----------+----+-------------+------------------+-----------------------+-------------------------+------------------+------------------------+
|      date|year|specefic_date|total sale_dollars|total state_bottle_cost|total state_bottle_retail|total bottles_sold|total volume_sold_liters|
+----------+----+-------------+------------------+-----------------------+-------------------------+------------------+------------------------+
|2012-02-01|2012|        02-01|           7159.83|      526.7800000000001|                   795.23|               556|                  465.76|
|2012-03-01|2012|        03-01|           8627.76|      625.6500000000001|        941.9399999999998|               666|                   514.5|
|2012-05-01|2012|        05-01| 6614.799999999999|     469.59999999999997|        705.8000000000001|               610|                  530.26|
|2012-08-01|2012|        08-01| 7141.290000000001|     441.72999999999996|        665.1800000000001|               550|                  447.88|
+----------+----+-------------+------------------+-----------------------+-------------------------+------------------+------------------------+
only showing top 4 rows

+----------+----+-------------+------------------+-----------------------+-------------------------+------------------+------------------------+
|      date|year|specefic_date|total sale_dollars|total state_bottle_cost|total state_bottle_retail|total bottles_sold|total volume_sold_liters|
+----------+----+-------------+------------------+-----------------------+-------------------------+------------------+------------------------+
|2013-04-01|2013|        04-01|12436.910000000003|      584.1800000000002|        880.9100000000001|              1018|                  748.38|
|2013-05-01|2013|        05-01|           4727.72|                 346.25|        520.9200000000001|               449|                   377.0|
|2013-07-01|2013|        07-01| 8179.670000000001|                 577.29|                   870.32|               605|                  492.62|
|2013-08-01|2013|        08-01| 7791.299999999999|      452.4200000000001|        679.1800000000001|               702|                   471.0|
+----------+----+-------------+------------------+-----------------------+-------------------------+------------------+------------------------+
only showing top 4 rows

+----------+----+-------------+------------------+-----------------------+-------------------------+------------------+------------------------+
|      date|year|specefic_date|total sale_dollars|total state_bottle_cost|total state_bottle_retail|total bottles_sold|total volume_sold_liters|
+----------+----+-------------+------------------+-----------------------+-------------------------+------------------+------------------------+
|2014-04-01|2014|        04-01|           7629.41|                 402.51|                   606.75|               653|                   497.5|
|2014-05-01|2014|        05-01|           8212.45|      508.8499999999999|                   764.96|               689|                  547.88|
|2014-07-01|2014|        07-01|10266.240000000002|      611.1300000000001|        918.3399999999999|               900|                   642.0|
|2014-10-01|2014|        10-01|          11393.64|                 663.45|       1000.0999999999999|              1006|                  710.26|
+----------+----+-------------+------------------+-----------------------+-------------------------+------------------+------------------------+
only showing top 4 rows

+----------+----+-------------+------------------+-----------------------+-------------------------+------------------+------------------------+
|      date|year|specefic_date|total sale_dollars|total state_bottle_cost|total state_bottle_retail|total bottles_sold|total volume_sold_liters|
+----------+----+-------------+------------------+-----------------------+-------------------------+------------------+------------------------+
|2015-04-01|2015|        04-01| 8138.050000000001|                 522.66|        785.9099999999999|               635|                  478.88|
|2015-06-01|2015|        06-01|13208.760000000002|                 878.57|       1319.5600000000002|               882|                   690.0|
|2015-07-01|2015|        07-01|            8184.0|     507.05000000000007|                   761.06|               654|                   471.0|
|2015-09-01|2015|        09-01|           8461.56|                 544.07|                   816.63|               652|                  531.88|
+----------+----+-------------+------------------+-----------------------+-------------------------+------------------+------------------------+
only showing top 4 rows

+----------+----+-------------+------------------+-----------------------+-------------------------+------------------+------------------------+
|      date|year|specefic_date|total sale_dollars|total state_bottle_cost|total state_bottle_retail|total bottles_sold|total volume_sold_liters|
+----------+----+-------------+------------------+-----------------------+-------------------------+------------------+------------------------+
|2016-02-01|2016|        02-01|          10937.16|      656.7800000000002|        986.0999999999999|               876|                   637.5|
|2016-03-01|2016|        03-01| 8169.450000000001|                 586.44|                   880.01|               611|                   491.5|
|2016-06-01|2016|        06-01| 8794.269999999999|      531.4000000000001|                   797.23|               774|                  511.76|
|2016-07-01|2016|        07-01|           3459.42|                 229.19|                    344.6|               270|                   216.0|
+----------+----+-------------+------------------+-----------------------+-------------------------+------------------+------------------------+
only showing top 4 rows

+----------+----+-------------+------------------+-----------------------+-------------------------+------------------+------------------------+
|      date|year|specefic_date|total sale_dollars|total state_bottle_cost|total state_bottle_retail|total bottles_sold|total volume_sold_liters|
+----------+----+-------------+------------------+-----------------------+-------------------------+------------------+------------------------+
|2017-02-01|2017|        02-01|           8843.75|                 511.11|                    766.8|               841|                  581.38|
|2017-03-01|2017|        03-01| 9753.060000000003|     497.85999999999996|                    746.9|               923|                  738.38|
|2017-05-01|2017|        05-01|           8949.96|      509.2999999999999|        764.0699999999999|               750|                   553.5|
|2017-06-01|2017|        06-01|           8089.77|                 521.32|        782.0999999999999|               605|                  454.88|
+----------+----+-------------+------------------+-----------------------+-------------------------+------------------+------------------------+
only showing top 4 rows

+----------+----+-------------+------------------+-----------------------+-------------------------+------------------+------------------------+
|      date|year|specefic_date|total sale_dollars|total state_bottle_cost|total state_bottle_retail|total bottles_sold|total volume_sold_liters|
+----------+----+-------------+------------------+-----------------------+-------------------------+------------------+------------------------+
|2018-02-01|2018|        02-01|           5537.34|                 345.42|                   518.21|               480|                   336.0|
|2018-03-01|2018|        03-01| 8133.540000000002|                  293.4|                   440.17|               744|                   615.0|
|2018-05-01|2018|        05-01|          10377.06|     495.96000000000004|        744.0699999999999|               851|                  534.38|
|2018-06-01|2018|        06-01|           4565.73|                 271.51|       407.30999999999995|               347|                  249.38|
+----------+----+-------------+------------------+-----------------------+-------------------------+------------------+------------------------+
only showing top 4 rows

+----------+----+-------------+------------------+-----------------------+-------------------------+------------------+------------------------+
|      date|year|specefic_date|total sale_dollars|total state_bottle_cost|total state_bottle_retail|total bottles_sold|total volume_sold_liters|
+----------+----+-------------+------------------+-----------------------+-------------------------+------------------+------------------------+
|2019-02-01|2019|        02-01|            557.82|                  72.22|                   108.33|                30|                    52.5|
|2019-03-01|2019|        03-01|           1272.96|                  88.69|       133.04000000000002|                86|                   98.75|
|2019-04-01|2019|        04-01|           1010.86|                  105.7|       158.57000000000002|               108|                   94.86|
|2019-05-01|2019|        05-01|           9196.65|                 259.08|       388.64000000000004|               502|       701.1700000000001|
+----------+----+-------------+------------------+-----------------------+-------------------------+------------------+------------------------+
only showing top 4 rows

+----------+----+-------------+------------------+-----------------------+-------------------------+------------------+------------------------+
|      date|year|specefic_date|total sale_dollars|total state_bottle_cost|total state_bottle_retail|total bottles_sold|total volume_sold_liters|
+----------+----+-------------+------------------+-----------------------+-------------------------+------------------+------------------------+
|2020-04-01|2020|        04-01|           2233.71|                 143.38|       215.07999999999998|               110|       99.74000000000001|
|2020-05-01|2020|        05-01|           1987.89|                 213.26|                   319.91|               147|                   151.6|
|2020-06-01|2020|        06-01|           1590.36|                 129.56|       194.35999999999999|               121|                    95.9|
|2020-07-01|2020|        07-01|           2140.14|                 120.12|                    180.2|               138|                   145.5|
+----------+----+-------------+------------------+-----------------------+-------------------------+------------------+------------------------+
only showing top 4 rows

+----------+----+-------------+------------------+-----------------------+-------------------------+------------------+------------------------+
|      date|year|specefic_date|total sale_dollars|total state_bottle_cost|total state_bottle_retail|total bottles_sold|total volume_sold_liters|
+----------+----+-------------+------------------+-----------------------+-------------------------+------------------+------------------------+
|2021-02-01|2021|        02-01|             634.8|      84.72000000000001|       127.09000000000002|                44|       65.99000000000001|
|2021-03-01|2021|        03-01|           2198.16|     143.47000000000003|       215.23000000000002|               199|                  184.87|
|2021-04-01|2021|        04-01|           1846.74|                 124.84|                   187.26|               121|                  130.12|
|2021-06-01|2021|        06-01|           2148.52|     210.51000000000002|                   315.79|               113|                  146.99|
+----------+----+-------------+------------------+-----------------------+-------------------------+------------------+------------------------+
only showing top 4 rows

+----------+----+-------------+------------------+-----------------------+-------------------------+------------------+------------------------+
|      date|year|specefic_date|total sale_dollars|total state_bottle_cost|total state_bottle_retail|total bottles_sold|total volume_sold_liters|
+----------+----+-------------+------------------+-----------------------+-------------------------+------------------+------------------------+
|2022-02-01|2022|        02-01|           4794.42|                 182.21|       273.34000000000003|               318|                   436.5|
|2022-03-01|2022|        03-01|           1147.41|                 138.69|                   208.05|                80|       71.24000000000001|
|2022-04-01|2022|        04-01|2146.9399999999996|     208.07999999999996|        312.1600000000001|               191|                  188.36|
|2022-06-01|2022|        06-01|           1312.98|                  143.4|                   215.12|                90|                  105.36|
+----------+----+-------------+------------------+-----------------------+-------------------------+------------------+------------------------+
only showing top 4 rows

In [27]:
# Now We gonna save our data as csv file in the same folder
for year in data.groupBy('year').count().sort('year').collect():
  files = data.where(data.year == year.year)
  files.write.option('header', True)\
              .csv(
                f"/content/Lstm_Validation_data/{year.year}_sells_dataset.csv"
              )

In [28]:
# Probably we gonna need the whole data so let's save it too
data.write.option('header', True)\
              .csv(
                "/content/Lstm_All_data/whole_sells_dataset.csv"
              )

In [29]:
# And we end up our session with stop function
spark.stop()